<div class="d-flex flex-column">
     <a href="/medications/add"><div class="btn btn-primary ml-2">Add New Medication</div></a>
<div class="h4 mt-3">
    List of Medications
</div>
</div>
{{>button}}
{{>footer}}