<div class="container">
   <div class="d-flex">
      {{#each patients}}
          <div class="card ml-3">
                <div class="card-header">{{name}}</div>
                <div class="card-body">{{id}}</div>
               
                
            </div>
         
      {{/each}}
   </div>
</div>